<nav>
  <h1>Sleep when you're dead.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/cat_guardian.jpg" id="logo" alt="Blog logo" height="200" width="200" />
    {% endif %}
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>
      Mathematics, Statistics, Computer Science etc.
    </p>
  </div>
  <div id="social">
  <center>{% include social.html %}</center>
  </div>
  <div id="social">
    <p>I am a final year undergraduate from the National University of Singapore (NUS).</p>
    <p>All posts dated 01 Jun 2016 are from my old blog.</p>
  </div>
  <div id="bio">
    <p>
    <strong>ST4234 Bayesian Statistics:</strong>
    <br>
    <a href="/pdf/T6_presentation.pdf"><u>Tutorial 6 Presentation.</u></a>
    </p>      
  </div>  
  <div id="bio">
    <p>
    <strong>AY2016/2017 CS1020E:</strong>
    <br>
    Slides for Tutorial+Lab Group 07.
    <ol>
        <li><a href="/cs1020e/tutorial01.pdf"><u>tutorial01.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial02.pdf"><u>tutorial02.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial03.pdf"><u>tutorial03.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial04.pdf"><u>tutorial04.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial05.pdf"><u>tutorial05.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial06.pdf"><u>tutorial06.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial07.pdf"><u>tutorial07.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial08.pdf"><u>tutorial08.pdf</u></a></li>
        <li><a href="/cs1020e/tutorial09.pdf"><u>tutorial09.pdf</u></a></li>
    </ol>
    </p>      
  </div>
</nav>
