<nav>
  <h1>Sleep when you're dead.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/cat_guardian.jpg" id="logo" alt="Blog logo" height="200" width="200" />
    {% endif %}
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>
      Mathematics, Statistics, Computer Science etc.
    </p>
  </div>
  <div id="social">
  <center>{% include social.html %}</center>
  </div>
  <div id="social">
    <p>I am a final year undergraduate from the National University of Singapore (NUS).</p>
    <p>All posts dated 01 Jun 2016 are from my old blog.</p>
  </div>
  <div id="bio">
    <p>
    <strong>ST4234 Bayesian Statistics:</strong>
    <br>
    <a href="/pdf/T6_presentation.pdf"><u>Tutorial 6 Presentation.</u></a>
    </p>      
  </div>
</nav>
